@{
    Layout = "_Layout";
    ViewData["Title"] = "Phần mềm quản lý";
}
@section css{
    <style>

        #setting-print {
            display: block;
            position: absolute;
            z-index: 9999;
            width: 200px;
            background: #fff;
            border: 1px solid #adadad;
            padding: 15px;
            right: -200px;
            top: 0px;
            box-sizing: border-box;
            border-radius: 2px;
        }

            #setting-print > .icon-setting {
                width: 27px;
                height: 27px;
                text-align: center;
                line-height: 25px;
                border: 1px solid #adadad;
                position: absolute;
                left: -27px;
                top: -1px;
                background: #658398;
                border-radius: 2px 0px 0px 2px;
                color: #eceeef;
                cursor: pointer;
            }

        #ddlDieuLuat {
            display: block;
            float: left;
            height: 22px;
            width: 45%;
        }

        #dl_bosung {
            display: block;
            float: right;
            width: 45%;
        }

            #dl_bosung[disabled] {
                display: none;
            }

        .index-tab > .header {
            padding: 10px 0px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            font-size: 20px;
            font-weight: 500;
        }
    </style>
}
<div class="card-block active tab-hide" id="active-tab1" style="height: 100%; position: fixed; width: 100%;">
    <div class="container-fuild">
        <div class="mini-layout scroll-page" style="overflow: auto; padding-right: 16px;">
            <div class="row">
                <div class="col-md-4">
                    <div class="mini-layout index-tab" style="padding: 20px;">
                        <div class="header">
                            Tồn kho
                        </div>
                        <table class="table custom-table table-bordered" id="table-hk07">
                            <thead class="thead-default">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">TT</th>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">Chủng loại</th>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">Số lượng còn</th>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">Đơn giá tạm tính</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 0;}
                                @foreach (var item in ViewBag.wareHouse)
                                {
                                    i++;
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle">@i</td>
                                        <td style="text-align: center; vertical-align: middle">@item.NameCategorize</td>
                                        <td style="text-align: center; vertical-align: middle">@item.Unit con</td>
                                        <td style="text-align: center; vertical-align: middle; padding: 10px 0px">@item.AVEPrice.ToString("N0")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="header">
                            Bảng thông tin tài chính toàn hệ thống
                        </div>
                        <table class="table custom-table table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">stt</th>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">#</th>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">1</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Tổng vốn</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">@ViewBag.Capital1.ToString("N0")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">2</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Tiền vốn trong hàng</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">@ViewBag.Capital2.ToString("N0")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">3</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Tiền mặt còn lại</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">@((ViewBag.Capital1 - ViewBag.Capital2).ToString("N0"))</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">3</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Tiền lời trong tháng</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">@ViewBag.tienloi</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mini-layout index-tab" style="padding: 20px;">
                        <div class="header">
                            Thống kê chi tiết
                        </div>
                        <div class="mini-layout" style="padding: 10px">
                            <p> Nhập hàng trong tháng </p>
                            <table class="table table-sm">
                                <thead class="thead-default">
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle; width: 15px;">&nbsp</th>
                                        <th style="text-align: center; vertical-align: middle;">Tên chuyến</th>
                                        <th style="text-align: center; vertical-align: middle;">Chi tiết nhập</th>
                                        <th style="text-align: center; vertical-align: middle;">Ngày nhập</th>
                                        <th style="text-align: right; vertical-align: middle; width: 200px;">Giá</th>
                                        <th style="text-align: right; vertical-align: middle; width: 200px;">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int j = 0; decimal count = 0; decimal count2 = 0;}
                                    @foreach (var item in ViewBag.Trip)
                                    {
                                        j++;
                                        count += item.TotalMoney;
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle">@j</td>
                                            <td style="text-align: center; vertical-align: middle">@item.NameTrip</td>
                                            <td style="text-align: center; vertical-align: middle">
                                                <div class="table-bordered tableProductIn" style="width: 100%;"  data-id="@item.Id">
                                                    <div class="row">
                                                        <div class="row">
                                                            <div class="col-md-2">
                                                                Giống chó
                                                            </div>
                                                            <div class="col-md-2">
                                                                Số lượng
                                                            </div>
                                                            <div class="col-md-2">
                                                                Đơn giá
                                                            </div>
                                                            <div class="col-md-2">
                                                                Tổng tiền
                                                            </div>
                                                            <div class="col-md-2">
                                                                Ghi chú
                                                            </div>
                                                            <div class="col-md-2">
                                                                #
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        
                                                    </div>
                                                </div>
                                            </td>
                                            <td style="text-align: center; vertical-align: middle;">@item.DateCreate.ToString("dd/MM/yyyy")</td>
                                            <td style="text-align: right; vertical-align: middle">@item.TotalMoney.ToString("N0")</td>
                                            <td style="text-align: right; vertical-align: middle"><button class="btn btn-danger btn-sm" onclick="removeInvoice(@item.Id)">xoa</button></td>
                                        </tr>
                                    }
                                    <tr style="background: #83daf5">
                                        <td style="text-align: right;vertical-align: middle" colspan="4">Tổng tiền :</td>
                                        <td style="text-align: right; vertical-align: middle">@count.ToString("N0")</td>
                                        <td style="text-align: right; vertical-align: middle" colspan="1"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="mini-layout" style="padding: 10px">
                            <p> Xuất hàng trong tháng </p>
                            <table class="table table-sm">
                                <thead class="thead-default">
                                    <tr>
                                        <th style="text-align: center; vertical-align: middle; width: 15px;">&nbsp</th>
                                        <th style="text-align: center; vertical-align: middle;">Chủng loại</th>
                                        <th style="text-align: center; vertical-align: middle;">Số lượng xuất</th>
                                        <th style="text-align: center; vertical-align: middle;">Ngày xuất</th>
                                        <th style="text-align: right; vertical-align: middle; width: 200px;">Giá</th>
                                        <th style="text-align: right; vertical-align: middle; width: 200px;">Ghi chú</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ j = 0; count = 0; count2 = 0;}
                                    @foreach (var item in ViewBag.Invoice2)
                                    {
                                        j++;
                                        count += item.TongTien;
                                        <tr>
                                            <td style="text-align: center; vertical-align: middle">@j</td>
                                            <td style="text-align: center; vertical-align: middle">@item.NameCategorize</td>
                                            <td style="text-align: center; vertical-align: middle">@item.SoLuong con</td>
                                            <td style="text-align: center; vertical-align: middle;">@item.DateCreate.ToString("dd/MM/yyyy")</td>
                                            <td style="text-align: right; vertical-align: middle">@item.TongTien.ToString("N0")</td>
                                            <td style="text-align: right; vertical-align: middle"><button class="btn btn-danger btn-sm" onclick="removeInvoice(@item.Id)">xoa</button></td>
                                        </tr>
                                    }
                                    <tr style="background: #83daf5">
                                        <td style="text-align: right;vertical-align: middle" colspan="4">Tổng tiền :</td>
                                        <td style="text-align: right; vertical-align: middle">@count.ToString("N0")</td>
                                        <td style="text-align: right; vertical-align: middle" colspan="1"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="display-none" id="removeInvoiceForm" method="post" action="/Home/RemoveInvoice">
    <input type="text" class="form-control id-invoice" placeholder="tên loại chó" id="id" name="id">
</form>

@section scripts {
    <script>
        $(document).ready(function () {
            $(".tab-main").addClass("active");
            $(".mini-layout.scroll-page").css("height", window.innerHeight - 107)
            $(".tableProductIn > tbody > tr").each(function () { 
                var id = $(this).attr("data-id");
                console.log(id)
            })
        })

        function removeInvoice(id) {
            var r = confirm("Xac nhan xoa ?");
            if (r == true) {                $(".id-invoice").val(id);
                $("#removeInvoiceForm").submit();
            }
        }
    </script>
}