@{
    Layout = "_Layout";
    ViewData["Title"] = "Phần mềm quản lý";
}
@section css{
    <style>

        #setting-print {
            display: block;
            position: absolute;
            z-index: 9999;
            width: 200px;
            background: #fff;
            border: 1px solid #adadad;
            padding: 15px;
            right: -200px;
            top: 0px;
            box-sizing: border-box;
            border-radius: 2px;
        }

            #setting-print > .icon-setting {
                width: 27px;
                height: 27px;
                text-align: center;
                line-height: 25px;
                border: 1px solid #adadad;
                position: absolute;
                left: -27px;
                top: -1px;
                background: #658398;
                border-radius: 2px 0px 0px 2px;
                color: #eceeef;
                cursor: pointer;
            }

        #ddlDieuLuat {
            display: block;
            float: left;
            height: 22px;
            width: 45%;
        }

        #dl_bosung {
            display: block;
            float: right;
            width: 45%;
        }

            #dl_bosung[disabled] {
                display: none;
            }

        .index-tab > .header {
            padding: 10px 0px;
            margin-bottom: 10px;
            border-bottom: 1px solid #ccc;
            font-size: 20px;
            font-weight: 500;
        }

        .table-sm .btn {
            margin: 3px 0px;
            width: 30px;
            text-align: center;
        }

        .table-bordered th, .table-bordered td {
            border: 1px solid #7b7b7b;
        }
        table.table-bordered > tbody > tr > td {
            padding: 0px 5px;
        }

        .tableProductIn > table > tbody > tr > td {
            vertical-align: middle;
        }

        .tableProductIn > table tr > th {
            text-align: center;
            font-weight: 500;
        }

        .table-bordered thead tr th {
            border-bottom: 1px solid #ccc;
        }
    </style>
}
<div class="card-block active tab-hide" id="active-tab1" style="height: 100%; position: fixed; width: 100%;">
    <div class="container-fuild">
        <div class="mini-layout scroll-page" style="overflow: auto; padding-right: 16px;">
            <div class="row">
                <div class="col-md-4">
                    <div class="mini-layout index-tab" style="padding: 20px;">
                        <div class="header">
                            Thống kê
                        </div>
                        <table class="table table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">#</th>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">#</th>
                                    <th style="text-align: center; vertical-align: middle; padding: 10px 0px">#</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">1</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Tổng vốn</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">@ViewBag.Capital.ToString("N0")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">2</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Tổng nhập</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">@ViewBag.TotalIn.ToString("N0")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">3</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Tổng xuất</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">@ViewBag.TotalOut.ToString("N0")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">4</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Tổng lời</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">@ViewBag.interest.ToString("N0")</td>
                                </tr>
                                <tr>
                                    <td style="text-align: center; vertical-align: middle">5</td>
                                    <td style="text-align: left; vertical-align: middle; padding: 3px 10px;">Số lượng hàng bắt</td>
                                    <td style="text-align: right; vertical-align: middle; padding: 3px 10px;">0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="mini-layout index-tab" style="padding: 20px;">
                        <div class="header">
                            Chuyến hàng nhập
                        </div>
                        <table class="table table-sm table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle;">Tên chuyến</th>
                                    <th style="text-align: center; vertical-align: middle;">Chi tiết nhập</th>
                                    <th style="text-align: center; vertical-align: middle; width: 100px;">Ngày nhập</th>
                                    <th style="text-align: center; vertical-align: middle; width: 100px;">Giá</th>
                                    <th style="text-align: right; vertical-align: middle; width: 40px;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int j = 0; decimal count = 0; decimal count2 = 0;}
                                @foreach (var item in ViewBag.Trip)
                                {
                                    j++;
                                    count += item.TotalMoney;
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle">@item.NameTrip</td>
                                        <td style="text-align: center; vertical-align: middle" class="tableProductIn" data-id="@item.Id"></td>
                                        <td style="text-align: center; vertical-align: middle;">@item.DateCreate.ToString("dd/MM/yyyy")</td>
                                        <td style="text-align: right; vertical-align: middle">@item.TotalMoney.ToString("N0")</td>
                                        <td style="text-align: right; vertical-align: middle;">
                                            <button class="btn btn-danger btn-sm" onclick="removeTrip(@item.Id)" title="xóa"><i class="fa fa-remove"></i></button>
                                            <a class="btn btn-success btn-sm" href="/Home/ExportProduct?id=@item.Id" title="xuất hàng"><i class="fa fa-exchange"></i></a>
                                        </td>
                                    </tr>
                                }
                                <tr style="background: linear-gradient(#b1dbff, #d3ebff, #b1dbff); line-height: 30px;">
                                    <td style="text-align: right;vertical-align: middle" colspan="3">Tổng tiền :</td>
                                    <td style="text-align: right; vertical-align: middle">@count.ToString("N0")</td>
                                    <td style="text-align: right; vertical-align: middle"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="header">
                            Hàng xuất
                        </div>
                        <table class="table table-sm table-bordered">
                            <thead class="thead-default">
                                <tr>
                                    <th style="text-align: center; vertical-align: middle; width: 15px;">&nbsp</th>
                                    <th style="text-align: center; vertical-align: middle;">Chủng loại</th>
                                    <th style="text-align: center; vertical-align: middle;">Số lượng xuất</th>
                                    <th style="text-align: center; vertical-align: middle;">Ngày xuất</th>
                                    <th style="text-align: center; vertical-align: middle; width: 200px;">Giá</th>
                                    <th style="text-align: right; vertical-align: middle; width: 40px;"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @{ j = 0; count = 0; count2 = 0;}
                                @foreach (var item in ViewBag.ExportProduct)
                                {
                                    j++;
                                    count += item.TotalPrice;
                                    <tr>
                                        <td style="text-align: center; vertical-align: middle">@j</td>
                                        <td style="text-align: center; vertical-align: middle">@item.NameCategorize</td>
                                        <td style="text-align: center; vertical-align: middle">@item.Unit con</td>
                                        <td style="text-align: center; vertical-align: middle;">@item.DateCreate.ToString("dd/MM/yyyy")</td>
                                        <td style="text-align: right; vertical-align: middle">@item.TotalPrice.ToString("N0")</td>
                                        <td style="text-align: right; vertical-align: middle">
                                            <button class="btn btn-danger btn-sm" onclick="removeExport(@item.Id)"><i class="fa fa-remove"></i></button>
                                        </td>
                                    </tr>
                                }
                                <tr style="background: linear-gradient(#b1dbff, #d3ebff, #b1dbff); line-height: 30px;">
                                    <td style="text-align: right;vertical-align: middle" colspan="4">Tổng tiền :</td>
                                    <td style="text-align: right; vertical-align: middle">@count.ToString("N0")</td>
                                    <td style="text-align: right; vertical-align: middle" colspan="1"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form class="display-none" id="removeInvoiceForm" method="post" action="/Home/RemoveInvoice">
    <input type="text" class="form-control id-invoice" placeholder="tên loại chó" id="id" name="id">
</form>


@section scripts {
    <script>
        $(document).ready(function () {
            $(".tab-main").addClass("active");
            $(".mini-layout.scroll-page").css("height", window.innerHeight - ($("nav.navbar").innerHeight() + 24))
            $(".tableProductIn").each(function () {
                var id = $(this).attr("data-id");
                LoadDetailTrip(id, $(this));
            });
        })

        function LoadDetailTrip(id, target) { 
            var d = {
                id: id
            }
            PageMethod.getAjax("POST", "/DataServices/GetProductByIdTrip", d, "JSON", function (respone) {
                if (respone.length < 1)
                    return;
                var html = "<table class='table table-sm table-bordered' style='margin: 5px 0px;'><tr><th>Giống chó</th>";
                    html += "<th>Số lượng</th><th>Đơn giá</th><th>Tổng tiền</th><th style='width: 40px;'>&nbsp;</th></tr>";
                for (var i = 0; i < respone.length; i++) { 
                    html += '<tr><td>' + respone[i].nameCategorize + '</td>';
                    html += '<td>' + respone[i].unit + '</td>';
                    html += '<td style="text-align: right;">' + formatMoney(respone[i].unitPrice) + '</td>';
                    html += '<td style="text-align: right;">' + formatMoney(respone[i].totalPrice) + '</td>';
                    html += "<td style='width: 40px;'><button class='btn btn-sm btn-danger' onclick='removeProduct(" + respone[i].id + ")' title='xóa'><i class='fa fa-remove' /></button></td></tr>";
                }
                html += '</table>';
                target.append(html);
            })
        }

        function removeTrip(id) {
            var r = confirm("Xac nhan xoa ?");
            if (r == true) {                PageMethod.getAjax("POST", "/DataServices/RemoveTrip", { id: id }, "JSON", function (data) { location.reload() })
            }
        }

        function removeProduct(id) {
            var r = confirm("Xac nhan xoa ?");
            if (r == true) {                PageMethod.getAjax("POST", "/DataServices/RemoveProduct", { id: id }, "JSON", function (data) { location.reload() })
            }
        }

        function removeExport(id) { 
            var r = confirm("Xac nhan xoa ?");
            if (r == true) {                PageMethod.getAjax("POST", "/DataServices/RemoveExport", { id: id }, "JSON", function (data) { location.reload() })
            }
        }

        function formatMoney(n, c, d, t) {
            var c = isNaN(c = Math.abs(c)) ? 2 : c,
                d = d == undefined ? "." : d,
                t = t == undefined ? "," : t,
                s = n < 0 ? "-" : "",
                i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
                j = (j = i.length) > 3 ? j % 3 : 0;

            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t);
        };
    </script>
}